# Bytecode
__pycache__/
*.py[cod]

# Envs
.venv/
venv/
env/

# Build / dist
build/
dist/
*.egg-info/
.eggs/
*.egg

# Caches & tooling
.cache/
.mypy_cache/
.pytest_cache/
.ruff_cache/
.ipynb_checkpoints/
.DS_Store

# IDEs
.vscode/
.idea/
.spyproject/

# Logs
*.log
pip-log.txt
pip-delete-this-directory.txt

# Data (evite versionar dados e bancos)
data/
*.csv
*.parquet
*.feather
*.pkl
*.db
*.sqlite

# Secrets
.env
.env.*

# Models / weights
models_cache/
*.safetensors
*.bin
*.pt

# Hydra (se usar)
outputs/
multirun/
